<section id="products_section" class="section_color2" ng-controller="CatalogSearchController">
    <div class="container container_project_white width_container_sectioncontainer_project_white width_container_section">
        <header class="section-header text-center">
            <div class="fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h2>Products</h2>
            </div>
        </header>
            <div class="container">
                <!-- 
                 <form novalidate ng-submit="sendCatalogSearchForm(product_manager_form)" method="post" class="css-form" enctype="multipart/form-data">
                -->
                    <div class="col-sm-3">
                        <div class="left-sidebar">
                            <div class="brands_products"><!--brands_products-->
                                <h2>Custom Search</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <div class="form-group">
                                            <input ng-change="sendCatalogSearchFormBridge()" ng-model="search_catalog_form.name" name="name" placeholder="Product Name" id="test_product_name_id" class="form-control" type="text">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <input ng-change="sendCatalogSearchFormBridge()" ng-model="search_catalog_form.brand" name="brand" placeholder="Brand Name" class="form-control" type="text">
                                        </div>
                                    </li>
                                </ul>
                            </div><!--/brands_products-->
                            
                            <!--category-productsr-->
                            <div class="panel-group category-products" id="accordian">
                                <div class="panel panel-default">
                                    <h2>Category</h2>
                                    <div class="panel panel-default" ng-repeat="(categoryParentKey, categoryParentValue) in category_menu_tree" >
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordian" href="javascript:void(0)" category-parent-container="category_parent_container{{categoryParentValue.idCategory}}" onclick="categoryPanelCollapse(this)">
                                                    <span class="badge pull-right">
                                                        <i ng-if="categoryParentValue.childs.length > 0" class="fa fa-plus"></i>
                                                    </span>
                                                </a>
                                                <a data-toggle="collapse" data-parent="#accordian" href="javascript:void(0)" category-id="{{categoryParentValue.idCategory}}" level="{{categoryParentValue.level}}" onclick="setCategoryId(this)">
                                                    {{categoryParentValue.name}}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="category_parent_container{{categoryParentValue.idCategory}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li ng-repeat="(categoryChildKey, categoryChildValue) in categoryParentValue.childs">
                                                        <a href="javascript:void(0)" category-id="{{categoryChildValue.idCategory}}" level="{{categoryChildValue.level}}" onclick="setCategoryId(this)"  >{{categoryChildValue.name}} </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/category-products-->
                            
                            <div class="price-range"><!--price-range-->
                                <h2>Price Range</h2>
                                <div class="well text-center">
                                     <input ng-model="search_catalog_form.price" type="text" class="span2" value="" data-slider-min="0" data-slider-max="2000" data-slider-step="5" data-slider-value="[10,1900]" id="sl2" ><br />
                                     <b class="pull-left">0 €</b> <b class="pull-right">2000 €</b>
                                </div>
                            </div><!--/price-range-->
                            
                        </div>
                    </div>
                <!-- 
                </form>
                -->
                
                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <product-list data="product_list_data"></product-list>
                    </div><!--features_items-->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style="text-align: center;">
                        <!--Pagination-->
                        <div dir-paginate="pagination_item in client_pagination | itemsPerPage: pagination_page_size" total-items="client_pagination.total_results" current-page="pagination_current_page"></div>

                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="showProductDetail" class="modalDialog modalDialogProduct" ng-controller="CatalogSearchController">
    <div class="marginModalDialogProduct section_color3">
       <a href="javascript:void(0)" onclick="colseModal();" title="Close" class="close">X</a>
        <div class="fadeInUp animated modalDialogTitre" data-wow-delay="0.2s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h2>{{detailProduct.name}}</h2>
        </div>
        <div class="container">
            <div class="col-sm-10 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img alt="" src="{{detailProduct.image}}">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <!--/product-information-->
                        <div class="product-information">
                            <h2>{{detailProduct.name}}</h2>
                            <p>Web ID: {{detailProduct.idProduct}}</p>
                            <img alt="" src="images/product-details/rating.png">
                            <span>
                                <span>{{detailProduct.price}} €</span>
                                <label>Quantity:</label>
                                <input name="quantity" type="text" ng-model="detailProduct.quantity" value="1">
                                <button class="btn btn-fefault cart" onclick="addToShoppingCartDetailProduct()" type="button">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </button>
                            </span>
                            <p><b>Brand:</b> {{detailProduct.brand}}</p>
                            <p>{{detailProduct.description}}</p>
                        </div>
                        <!--/product-information-->
                    </div>
                </div><!--/product-details-->
                
                <div class="category-tab shop-details-tab" style="background:#ffffff;"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <!-- 
                            <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
                            -->
                            <li class="active" ><a data-toggle="tab" href="#reviews">Reviews ({{detailProduct.productCommentTotal}})</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="details" class="tab-pane fade">
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            Details...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div id="reviews" class="tab-pane fade active in">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <!-- 
                                <p><b>Write Your Review</b></p>
                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Your Name">
                                        <input type="email" placeholder="Email Address">
                                    </span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img alt="" src="images/product-details/rating.png">
                                    <button class="btn btn-default pull-right" type="button">
                                        Submit
                                    </button>
                                </form>
                                -->
                            </div>
                        </div>
                        
                    </div>
                </div><!--/category-tab-->
            </div>
        </div>
    </div>
</div>