	<header id="header" ng-controller="AccountController"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<img src="images/Sports-Running-Man-icon-green.png" class="project_logo_image" />
						</div>
						<div class="logo pull-left project_logo_font">
							 FitShopJS  <span style="color: #fff;"></span> 
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a ng-if="user_session_data.idUser > 0" href="javascript:void(0);" onClick="openModal('showLoginSingUp');" data-href="#showLoginSingUp"><i class="fa fa-user"></i> {{user_session_data.firstName}} {{user_session_data.lastName}} Account</a></li>
								
								<li><a  ng-if="!(user_session_data.idUser > 0)" href="javascript:void(0);" onClick="openModal('showLoginSingUp');" data-href="#showLoginSingUp"><i class="fa fa-lock"></i> Login / Singup</a></li>
								
								<li><a  ng-if="user_session_data.idUser > 0" href="javascript:void(0);" onClick="logOut();" data-href="#showLoginSingUp"><i class="fa fa-lock"></i> Logout</a></li>
								
								<li><a href="javascript:void(0);" onClick="openModal('shopping_cart_section');" data-href="#shopping_cart_section"><i class="fa fa-shopping-cart"></i> Cart (<span class="project_font">{{shopping_cart_totals.q_items}}</span>)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			
		</div><!--/header-middle-->
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs section_color3">
								<li class="active"><a scroll-to="products_section" data-href="#products_section" >Products</a></li>
								<li><a scroll-to="shopping_cart_section" data-href="#shopping_cart_section" >Shopping Cart</a></li>
								<li><a scroll-to="payment_section" data-href="#payment_section" >Payment</a></li>
								<li><a scroll-to="result_section" data-href="#result_section" >Result</a></li>
							</ul>
						</div>
					</div><!--/category-tab-->
				</div>
			</div>
		</div>
	</header><!--/header-->
	<div id="header_space"></div>
	
	<!--Offers-->
	<offer-container></offer-container>
	<!--Products-->
	<catalog-container></catalog-container>
	<!--Shopping Cart-->
	<shopping-cart-container></shopping-cart-container>
	<!--Payment-->
	<payment-container></payment-container>
	<!--Result-->
	<order-container></order-container>
	<!--Account-->
	<account-container></account-container>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left"> UM2 Faculté de Sciences .</p>
					<p class="pull-right">MAIGA Mariam <!-- BOUHASI Meriam - -->- MUNOZ Jimmy</span></p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->

	

	<section id="style-switcher" class="">
		<h2> Framework View <a href="javascript:void(0);" onClick="openModal('');" data-href="#"><div id="img_style_switcher" class="icon_angular-react"></div></a></h2>
		<ul>
			<li id="framework_backbone" class="icon_backbone"></li>
			<li id="framework_angular_react" class="icon_angular-react"></li>
			<li id="framework_ember" class="icon_ember"></li>
		</ul>
	</section>

	<!-- Notify -->
	<!--- second container -  bottom notifications-->
	<div id="container-bottom" style="top:auto; left:0; bottom:0; margin:0 0 10px 10px">
		<div id="default">
			<h1>#{title}</h1>
			<p>#{text}</p>
		</div>
		
		<div id="sticky">
			<a class="ui-notify-close ui-notify-cross" href="#">x</a>
			<h1>#{title}</h1>
			<p>#{text}</p>
		</div>
		
		<div id="themeroller" class="ui-state-error" style="padding:10px; -moz-box-shadow:0 0 6px #980000; -webkit-box-shadow:0 0 6px #980000; box-shadow:0 0 6px #980000;">
			<a class="ui-notify-close" href="#"><span class="ui-icon ui-icon-close" style="float:right"></span></a>
			<span style="float:left; margin:2px 5px 0 0;" class="ui-icon ui-icon-alert"></span>
			<h1>#{title}</h1>
			<p>#{text}</p>
			<p style="text-align:center"><a class="ui-notify-close" href="#">Close Me</a></p>
		</div>
		
		<div id="withIcon">
			<a class="ui-notify-close ui-notify-cross" href="#">x</a>
			<div style="float:left;margin:0 10px 0 0"><img src="js/jquery-notify/#{icon}" alt="warning" /></div>
			<h1>#{title}</h1>
			<p>#{text}</p>
		</div>
		
		<div id="buttons">
			<h1>#{title}</h1>
			<p>#{text}</p>
			<p style="margin-top:10px;text-align:center">
				<input type="button" class="confirm" value="Close Dialog" />
			</p>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			onReadyFunctions();
		});
	</script>
	
