<div id="showLoginSingUp" class="modalDialog" ng-controller="AccountController">
    <div>
        <a href="javascript:void(0)" onclick="colseModal();" title="Close" class="close">X</a>
        <div class="fadeInUp animated modalDialogTitre" data-wow-delay="0.2s" data-wow-offset="10" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h2>Login - Sing up</h2>
        </div>
        <div>
            
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="login-form"><!--login form-->
                            <h2 class="login_subtitre_color">Login to your account</h2>
                            <form novalidate ng-submit="authenticationLoginForm()" method="post" class="css-form" enctype="multipart/form-data">
                                <input type="email" ng-model="authentication_login.email" name="email" placeholder="Email Address">
                                <input type="password" ng-model="authentication_login.password" name="password" placeholder="Password">
                                <button class="btn btn-default" type="submit">Login</button>
                            </form>
                        </div><!--/login form-->
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4">
                        <div class="signup-form"><!--sign up form-->
                            <h2 class="login_subtitre_color">New User Signup!</h2>
                            <form novalidate ng-submit="authenticationSingupForm()" method="post" class="css-form" enctype="multipart/form-data">
                                <input type="text" ng-model="authentication_singup.firstName" name="firstName" placeholder="Name">
                                <input type="text" ng-model="authentication_singup.lastName" name="lastName" placeholder="Last Name">
                                <input type="email" ng-model="authentication_singup.email" name="email" placeholder="Email Address">
                                <input type="password" ng-model="authentication_singup.password" name="password" placeholder="Password">
                                <button class="btn btn-default" type="submit">Signup</button>
                            </form>
                        </div><!--/sign up form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>